body {
    background-image: url('img/2.jpg');
    background-size: cover;
    border-image-repeat: round;
    background-repeat: no-repeat;
}

.card-body{
    background-image: url(img/1.jpg);
}

#card{
    background: #79d2a6;
    height: 150px;
}
h4{
    color: #79d2a6;
}
.ing{
    background: #79d2a6; 
}
.ins{
    background: #79d2a6;
}
